<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div class="chat-bot shadow-lg">
        <a href="">
            <i class="fa fa-message"></i>
        </a>
    </div>
    <nav class="navbar navbar-light bg-white shadow-sm">
        <div class="container d-flex justify-space-between align-items-center">
            <a class="navbar-brand fs-3 d-flex align-items-center fw-bolder text-primary" href="#">
                <img src="assets/img/logo.svg" alt="" width="40" height="40" class="d-inline-block align-text-top me-1">
                BAC IA
            </a>
            <a class="btn btn-primary shadow-none" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                <i class="fa fa-bars-staggered"></i>
            </a>
        </div>
    </nav>


    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title  fs-2 d-flex align-items-center fw-bolder text-primary"
                id="offcanvasExampleLabel">
                <img src="assets/img/logo.svg" alt="" width="40" height="40" class="d-inline-block align-text-top me-1">
                BAC IA <i class="fa fa-message"></i>
            </h5>
            <button type="button" class="btn-close text-reset shadow-none" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="menu-container d-block">
                <div class="menu-item d-flex align-items-center my-2 bg-light shadow-sm p-3">
                    <a href=""><i class="fa fa-home me-3"></i>
                        <span>Accueil</span></a>
                </div>
                <div class="menu-item d-flex align-items-center my-2 bg-light shadow-sm p-3">
                    <a href=""><i class="fa fa-book me-3"></i>
                        <span>Nos ressources</span></a>
                </div>
                <div class="menu-item d-flex align-items-center my-2 bg-light shadow-sm p-3">
                    <a href=""><i class="fa fa-user me-3"></i>
                        <span>A propos</span></a>
                </div>
                <div class="menu-item d-flex align-items-center my-2 bg-light shadow-sm p-3">
                    <a href="" class="d-flex align-items-center">
                        <img src="assets/img/profile.png" width="40" height="40" style="border-radius: 50%;" alt=""
                            class="me-3 border border-2 border-primary">
                        <span>Votre compte</span>
                    </a>
                </div>
                <div class="menu-item d-flex align-items-center my-2 bg-light shadow-sm p-3">
                    <div href="" class="d-flex align-items-center">
                        <a href="#" class="btn btn-primary shadow-none me-3">Connexion</a>
                        <a href="#" class="btn btn-outline-primary shadow-none">Inscription</a>
                    </div>
                </div>
            </div>
            <div class="menu-text-container pt-3">
                <p class="lead fst-italic fs-6 font-monospace">
                    La plateforme en ligne <span class="text-primary fw-bold">BAC AI</span> vise à aider les élèves
                    de l'enseignement secondaire géneral à préparer leur baccalauréat. <a href="#"
                        class="d-flex align-items-center me-1 text-primary text-decoration-underline">En savoir plus <i
                            class="fa fa-arrow-right"></i> </a>
                </p>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row justify-content-center py-4">
            <div class="col-md-8 text-center">
                <h3>Sample title</h3>
                <p class="lead fst-italic">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, omnis?
                </p>
            </div>
        </div>
        <div class="row  py-3 text-justify">
            <div class="col-md-12 col-lg-4 shadow p-4 md-mb-4">
                <form action="" method="post">
                    <div class="item w-100 my-3">
                        <label for="select1" class="form-text">Label 1</label>
                    <select name="" id="select1" class="form-control shadow-none w-100 mb-4">
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                    </select>
                    </div>

                    <div class="item w-100 my-3">
                        <label for="select1" class="form-text">Label 1</label>
                    <select name="" id="select1" class="form-control shadow-none w-100 mb-4">
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                    </select>
                    </div>

                    <div class="item w-100 my-3">
                        <label for="select1" class="form-text">Label 1</label>
                    <select name="" id="select1" class="form-control shadow-none w-100 mb-4">
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                    </select>
                    </div>

                    <div class="item w-100 my-3">
                        <label for="select1" class="form-text">Label 1</label>
                    <select name="" id="select1" class="form-control shadow-none w-100 mb-4">
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                        <option value="Value">Choix</option>
                    </select>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 shadow-none">Appliquer</button>
                </form>
            </div>
            <div class="col-md-12 col-lg-8 p-4 shadow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, maxime? Blanditiis quia dolorum voluptatem quidem tenetur id, architecto illo deserunt nemo veritatis dolores sed suscipit voluptates aspernatur qui consequatur exercitationem maiores molestiae neque recusandae, optio temporibus vero excepturi? Obcaecati dolorem voluptatum eligendi aut placeat, fuga excepturi rerum? Rerum neque nihil minus atque molestiae iste! Iste, aut aperiam perferendis at molestiae a ex beatae autem labore architecto dolorum. Labore beatae commodi eum similique corporis sint eius repellat blanditiis esse, atque voluptatum, consectetur amet asperiores nihil nesciunt distinctio quasi maxime molestiae dolores, non soluta officia? Optio nihil nam ipsa natus, dolor fuga ducimus est adipisci dignissimos iste doloremque pariatur. Beatae, enim! Beatae, voluptatem veritatis error ipsum non dolor temporibus maiores unde dicta?</div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>
</html>